@charset "UTF-8";

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

h1 {
    color: yellow;
    background-color: blue;
}

h2 {
    color: yellowgreen;
}
p {
    color: whitesmoke;
}
a{
    color: black;
    background-color: fuchsia;
}